<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Welcome</h1>

    <h2>Member Data Table</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <% users.forEach(function(user){ %>
            <tr>
                <td> <%= user.id %></td>
                <td> <%= user.name %> </td>
                <td> <%= user.email %> </td>
            </tr>
           <% }); %>
    </table>
    
    <form action="/members-update" method="POST">
        <button class="btn btn-primary" type="submit" value="OK">Update</button>
    </form>
    <form action="/members-delete" method="POST">
        <button class="btn btn-primary" type="submit" value="OK">Delete</button>
    </form>
   

</body>
</html>    


